.products {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 40px;
}

.products__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.products__title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.products__add-button {
    padding: 13px 20px;
    background: #ffa929;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
}

.products__content {
    display: flex;
    gap: 30px;
}

.search {
    width: 240px;
}

.search__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search__input,
.search__select {
    width: 100%;
    padding: 14px 12px;
    background: #fff;
    border: 1px solid #e0dfde;
    color: #b4b5b7;
}

.search__input {
    border-radius: 50px;
}

.search__button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background: #f5c800;
    cursor: pointer;
}

.search__sort {
    margin-top: 10px;
}

.search__sort-label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.search__select {
    border-radius: 5px;
}

.sort-tag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid #f5c800;
    color: #8b7969;
    font-size: 14px;
}

.sort-tag__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid #f5c800;
    border-radius: 50%;
    font-size: 10px;
    text-decoration: none;
    color: #f5c800;
}

.products-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.product-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.product-card__img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.product-card__name {
    margin: 0;
    font-size: 16px;
}

.product-card__price {
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
}

.products__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
}

.pagination__number,
.pagination__arrow {
    color: #8b7969;
    font-size: 18px;
    text-decoration: none;
}

.pagination__number--current {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #f5c800;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
}